body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
.tildeMap {
  color: #fff;
  background-image: url("/images/tide.png");
  width: 800px;
  height: 600px;
}
